
    <div class="jumbotron" style="background-color: #35e819; opacity: 0.75; border: black; text-align: center; color: white;">
        <h1 style="">Hot Dog</h1>
        <span style="" class="fa-stack fa-4x">
            <i style="color: #35e819" class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-check fa-stack-1x"></i>
        </span>
    </div>

<div class="center-form">
    <h1>@ViewBag.isHotdog</h1>
    <h1>@ViewBag.backgroundImagePath</h1>
    @Html.ActionLink("Start Again", "Index", "Home", null, new { @class = "btn btn-lg btn-info" })
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('body').removeClass("full");
            $('body').addClass("fullHotdog");
        });    
    </script>
}
